[user]
	email = tomatoesneverlie@gmail.com
	name = Fraser Ross Lee
[credential]
	helper = osxkeychain
[core]
	excludesFile = ~/.excludesfile
	editor = nvim
[http]
	postBuffer = 1500M
	maxRequestBuffer = 500M
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
